html {
  font: normal 10px/10px Arial;
}

body {
  margin: 0;
  padding: 0;
  font: normal 2.4rem/4.8rem Arial;
  overflow: hidden;
}

body > section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 150ms;
}

body > section.active {
  pointer-events: auto;
  opacity: 1;
}

h1 {
  font-size: 3.6rem;
  font-weight: normal;
  text-align: center;
}

/* Message */
.correct:before {
  content: "✓ ";
  color: forestgreen;
}

.incorrect:before {
  content: "✗ ";
  color: red;
}

#message p {
  margin: 1rem 10%;
}

#message input[type="button"] {
  background: lightskyblue;
  color: darkslategrey;
  border: none;
  padding: 1rem;
  font-size: 2.4rem;
  width: 100%;
}

/* Multiple choice */
#multiple-choice {
  text-align: center;
}

#multiple-choice p {
  margin-right: 6rem; /* To center back the question */
}

.play {
  width: 4rem;
  height: 4rem;
  margin: 0 2rem 0 0;
  border-radius: 100%;
  border: none;
  background: lightskyblue;
  color: white;
  vertical-align: text-bottom;
  cursor: pointer;
  font-size: 2.5rem;
}

.choices {
  margin: 0;
  padding: 0;
}

.choices li {
  list-style: none;
  background: lightskyblue;
  color: darkslategrey;
  margin: 1rem 10%;
}

.choices.clickable li {
  cursor: pointer;
}

.choices li:after {
  content: "▶";
  color: white;
  right: 11%;
  position: absolute;
}
