html {
  font: normal 10px/10px Arial;
}

body {
  margin: 0;
  padding: 0;
  font: normal 2.4rem/4.8rem Arial;
  overflow: hidden;
  background-color: white;
}

[hidden] {
  display: none !important;
}

body > section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 150ms;
  -moz-user-select: none; /* To avoid cheaters copying/pasting text! */
}

body > section.active {
  pointer-events: auto;
  opacity: 1;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
  margin: 3rem 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

p {
  margin: 1rem 10%;
}

/* Message */
.correct:before {
  content: "✓ ";
  color: forestgreen;
}

.incorrect:before {
  content: "✗ ";
  color: red;
}

.message {
  text-align: center;
  color: darkslategrey;
}

.translation {
  text-align: center;
}

.translation {
  font-size: 90%;
  font-style: italic;
  color: darkgrey;
  margin: -1rem 10% 3rem;
}

.next,
.play,
.choices li button,
.validate {
  width: 100%;
  padding: 1rem;
  background: lightskyblue;
  color: darkslategrey;
  border: none;
  border-radius: 0;
  font-size: 2.4rem;
  cursor: pointer;
}

/* Multiple choice */
#multiple-choice {
  text-align: center;
}

#multiple-choice p {
  margin-right: 6rem; /* To center back the question */
}

.play {
  width: 4rem;
  height: 4rem;
  margin: 0 2rem 0 0;
  padding: 0;
  border-radius: 100%;
  color: white;
  vertical-align: text-bottom;
  transition: background 300ms;
}

.play[disabled] {
  background: lightgrey;
  cursor: auto;
}

.choices {
  margin: 0;
  padding: 0;
}

.choices li {
  list-style: none;
  margin: 1rem 10%;
  pointer-events: none;
}

.choices.clickable li {
  pointer-events: auto;
}

.choices li button {
  text-align: left;
}

/* Write phrase */
.phrase {
  width: calc(100% - 2rem - 2px);
  padding: 1rem;
  margin: 0;
  border: 1px solid lightgrey;
  border-radius: 0;
  font-size: 2.4rem;
  font-family: Arial;
  background: white;
}

#write-phrase-cy p {
  margin: 0 10%;
}
